<h1>Generate Report</h1>
<p>
	Generate a report to make a leaderboard for a given venue, weather conditions and date range.
</p>

<form action="/generate" method="post">
	<div class='form-inputs'>
		<%= simple_form_for(UserSiteSession.new) do |f| %>
		    <%= f.input :site_id, collection: Site.all, prompt: "Select Venue", label: 'Venue <span class="required">*</span>'.html_safe %>
		<%= f.input :weather , prompt: 'All Weather Conditions' %>
		<% end %>
		<label class="control-label" for='date_from'>Date From (YYYY-MM-DD) <span class='required'>*</span></label>
		<input type='text' class='form-control' name='user_site_session[date_from]' id='date_from' />
		<br />
		<label class="control-label" for='date_to'>Date To (YYYY-MM-DD)</label>
		<input type='text' class='form-control' name='user_site_session[date_to]' id='date_to' />
		<br />
		<input type="submit" name="sub" class="btn btn-default" value="Generate" />

	</div>
</form>