<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Go Karting</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Go Karting">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/report">Reports</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Venues
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if can? :create, 'Site' %>
          <a class="dropdown-item" href="/sites/new">Add New Venue</a>
          <% end %>
          <a class="dropdown-item" href="/sites/">View Venues</a>
        </div>
      </li>
      <% if current_user %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Laptimes
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <% if can? :create, UserSiteSession %>
          <a class="dropdown-item" href="/user_site_sessions/new">Add New Lap Time</a>
          <% end %>
          <a class="dropdown-item" href="/user_site_sessions/">View Lap Times</a>
        </div>
      </li>
      <% end %>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
      <% if current_user %> <%= link_to "Sign out", destroy_user_session_path, :method => :delete , :class => 'nav-link' %> <% else %>  <%= link_to "Sign in", new_user_session_path, :method => :get , :class => 'nav-link'%>  <% end %></li>
    </ul>
  </div>
</nav>